/* Defaults */
* {
  font-family: "Open Sans",Helvetica,Arial,"Lucida Grande","Nimbus Sans L","sans-serif";
  font-style: normal;
  scroll-behavior: smooth;
}

p {
  margin: 5px 0px;
}

a:link {
  color: #131184;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #4BA3D3;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-size: 16px;
  color: #4BA3D3;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #131184;
  background-color: transparent;
  text-decoration: underline;
}

body{
  margin: 0;
}

/* Styling */
.wrapper {
  background: #f4f7fa;
  width: 100%;
}

.header-content {
  background-color: #ffffff;
  box-shadow: 0 0 12px rgb(0 0 0 / 15%);
}

.logo-container {
  background-color: #2a289d;
  text-align: center;
  padding: 10px 0px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1125px;
  margin: 30px auto;
}

.header h1 {
  font-family: 'Oswald', sans-serif; 
  font-weight: bold;
}

.notification {
    background-color: rgba(221,92,27,0.1);
    width: 90%;
    border-left: 9px solid #dd5c1b;
    border-radius: 8px;
    color: #1c1c1c;
    letter-spacing: 0.1px;
    line-height: 1.65;
    margin: 20px auto 25px;
    padding: 15px 25px;
}

.notification.info {
    background-color: rgba(42,40,157,0.1);
    border-left: 9px solid #2a289d;
}

.notification.info .material-icons {
    color: #2a289d;
    float: left;
    line-height: 1;
    margin-right: 10px;
}

.main-content {
  width: 100%;
}

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 95%;
}

.video-contents {
  background: #ffffff;
  position: relative;
  box-shadow: 0 3px 12px rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  width: 30%;
  min-width: 300px;
}

.video-wrapper .video-contents iframe {
  width: 99.5%;
  aspect-ratio: 980/552;
  margin: 0px auto;
}

.video-wrapper .video-contents h3 {
  font-weight: bold;
  min-height: 50px;
  margin: 15px 15px;
}

.video-wrapper .video-contents .video-description {
  margin: 0px 15px;
  margin-bottom: 30px;
}


.video-wrapper .video-contents a {
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 100%;
  font-weight: bold;
  margin: 8px 15px;
}

footer {
  margin: 30px 0px;
}
